@model Product

<div class="col-md-4">
    <div class="card mb-3" style="width: 18rem;">
        <img src="/lib/img/@Model.ImageUrl" class="card-img-top" alt="@Model.Name">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Price</p>
            <a asp-controller="Shop" asp-action="Detail" asp-route-id="@Model.Id" class="btn btn-primary btn-sm">Details</a>

            @if (User.Identity.IsAuthenticated)
            {
                <form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline;">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" name="quantity" value="1" />
                    <button type="submit" class="btn btn-secondary btn-sm">Add to Cart</button>
                </form>
            }

        </div>
    </div>
</div>