@model ProductDetailModel

@{
    ViewData["Title"] = "Product Detail";
}

<div class="row">
    <div class="col-md-3">
        <img src="~/lib/img/@Model.Product.ImageUrl" class="img-fluid" alt="@Model.Product.Name">
    </div>
    <div class="col-md-9">
        <h1 class="mb-3">
            @Model.Product.Name
        </h1>
        <hr />
        @foreach (var item in Model.Categories)
        {
            <a href="#" class="btn btn-link p-0 mb-3">@item.Name</a>
        }
        <div class="mb-3">
            <h4 class="text-primary mb-3">
                @Model.Product.Price ₺
            </h4>

            <form asp-controller="Cart" asp-action="AddToCart" method="post" class="form-inline">
                <input type="hidden" name="productId" value="@Model.Product.Id" />
                <div class="form-group">
                    <input type="number" name="quantity" value="1" min="1" step="1" class="form-control" style="width:100px;" />
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-plus"></i>Add To Cart
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="p-3">
            @Html.Raw(Model.Product.Description)
        </p>
    </div>
</div>